<nav class="top_menu">
    <ul>
      <!-- <li>
        <a href="/">Order Form</a>
     </li> -->
     <li>
      <a href="/">Home page</a>

    </li>
    <li>
      <a href="/shoppingcart">Shopping Cart</a>

   </li>
<li><a href="/allorders">All orders</a></li>
   
    </ul>
 </nav>